// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;

@mixin common-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 22px;
}
@mixin common-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}
@mixin caption-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
}
@mixin common-label {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

@mixin dark-color-sheme {
	@media ( prefers-color-scheme: dark ) {
		@content;
	}
}

:root {
	/* Colors */
	--white: #fff;
	--black: #050505;

	--primary-background: #fff;
	--secondary-background: #F4F4F4;
	--tertiary-background: #D9D9D9;
	--primary-content: #050505;

	@include dark-color-sheme {
		--primary-background: #2B2B2B;
		--secondary-background: #333333;
		--tertiary-background: #454545;
		--primary-content: #fff;
	}

	--primary-color: #493CE8;

	/* Animations */
	--fast-animation: ease-in-out .05s;
	--common-animation: ease-in-out .1s;
}

/* Reset */
html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: var( --primary-content );
}
body {
	background-color: var( --secondary-background );
	min-width: 350px;
	margin: 0;
}

label {
	@include common-label;
}
input,
textarea {
	background-color: var( --primary-background );
	padding: 10px 14px;
	border-radius: 6px;
	border: 1px solid var( --primary-content );

	outline-color: var( --primary-color );

	@include common-text;
	resize: vertical;
	color: var( --primary-content );
}
button {
	background-color: var( --primary-content );
	padding: 10px 14px;
	border-radius: 6px;
	border: none;

	cursor: pointer;

	transition: background-color var( --fast-animation );

	span {
		@include common-text;
		color: var( --primary-background );

		transition: color var( --fast-animation );
	}

	&:hover {
		background-color: var( --primary-color );

		span {
			color: var( --white );
		}
	}
}

/* Main */
.main-header {
	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 {
		margin: 0;

		@include common-title;
	}
}

/* Parts */
.settings {
	background-color: var( --primary-background );
	margin: 0 10px 10px 10px;
	padding: 10px 0;
	border: 1px solid var( --tertiary-background );
	border-radius: 10px;

	display: flex;
	flex-direction: column;

	&__item {
		padding: 10px 20px;

		display: flex;
		flex-direction: column;
		gap: 8px;

		&-input {
			width: 100%;

			display: flex;
			align-items: flex-end;
			gap: 10px;

			input {
				flex: 1;
			}
		}
	}
}
.alarm-info {
	padding: 0 20px 10px 20px;

	opacity: .75;

	display: flex;
	flex-direction: column;

	@include caption-text;

	span {
		&.hidden {
			display: none;
		}
	}
}

/* Components */
.switcher {
	--size: 26px;
	--k: 0.7;

	background-color: var( --primary-background );
	width: calc( var( --size ) * 2 );
	height: var( --size );
	border-radius: var( --size );
	border: 1px solid var( --primary-content );

	position: relative;
	cursor: pointer;

	&::after {
		content: '';

		background-color: var( --primary-content );
		width: calc( var( --size ) * var( --k ) );
		height: calc( var( --size ) * var( --k ) );
		border-radius: 50%;

		position: absolute;
		top: calc( var( --size ) * ( 1 - var( --k ) ) / 2 );
		left: calc( var( --size ) * ( 1 - var( --k ) ) / 2 );
	}

	&.inited {
		transition: all var( --common-animation );

		&::after {
			transition: all var( --common-animation );
		}
	}

	&[ active ] {
		background-color: var( --primary-color );
		border-color: var( --primary-color );

		&::after {
			background-color: var( --white );

			transform: translateX( var( --size ) );
		}
	}
}

/*  Yan Metelitsa    __  
 *  yanmet.com      / _) 
 *  dev      .-^^^-/ /   
 *        __/       /    
 *       <__.|_|-|_|   */